@using cloudscribe.Web.Navigation
@using System.Text

@model NavigationViewModel

@{ 
// Copyright (c) Source Tree Solutions, LLC. All rights reserved.
// Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
// Author: Joe Audette
// Created 2015-07-11
// Last Modified: 2015-07-15


// probably don't want to implement dropdowns as they are not mobile friendly and not officially supported by bootstrap
// http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
}

    @if (Model.HasVisibleChildren(Model.RootNode))
        {
        @:<ul class="nav navbar-nav">
    @:<li><a href="@Url.Content(Model.AdjustUrl(Model.RootNode))">@Model.AdjustText(Model.RootNode)</a></li>
        foreach (var node in Model.RootNode.Children)
        {
            if(!Model.ShouldAllowView(node)) { continue; }
            if (!Model.HasVisibleChildren(node))
            {
                @:
                <li><a href="@Url.Content(Model.AdjustUrl(node))">@Model.AdjustText(node)</a></li>
            }
            else
            {
                @:
                <li class="dropdown">
                    <a href="@Url.Content(Model.AdjustUrl(node))">
                    @Model.AdjustText(node) <span class="caret"></span></a>
                    @Model.UpdateTempNode(node)
                    @Html.Partial("NavigationNodeChildDropdownPartial", Model)
                </li>
            }
        }
        @:</ul>
    }
