@model cloudscribe.Core.Web.ViewModels.CoreData.CountryListPageViewModel

@{
    //ViewBag.Title = "CountryListPage";
}

<h2>@Model.Heading</h2>
<table class="table table-striped">
    <tr>
        <th>
            @if (Model.UseModals)
            {
                @Ajax.ModalDialogActionLinkBootstrap(@CommonResources.NewCountry, "CountryEdit", "CoreData",
new { guid = Guid.Empty, returnPageNumber = Model.Paging.CurrentPage }
     , new { @class = "btn btn-default btn-xs" })
            }
            else
            {
                <a class="btn btn-xs btn-default" asp-action="CountryEdit" asp-controller="CoreData"
                   asp-route-guid="@Guid.Empty"
                   asp-route-pagenumber="@Model.Paging.CurrentPage">CommonResources.NewCountry</a>
            }
            
        </th>
        <th>
            CommonResources.Name
        </th>
        <th>
            CommonResources.ISOCode2
        </th>
        <th>
            CommonResources.ISOCode3
        </th>
    </tr>
@foreach (var c in Model.Countries) {
    <tr>
        <td>
 @if (Model.UseModals)
 {
     @Ajax.ModalDialogActionLinkBootstrap(@CommonResources.Edit, "CountryEdit", "CoreData",
new { guid = c.Guid, returnPageNumber = Model.Paging.CurrentPage, partial=true }
     , new { @class = "btn btn-default btn-xs" })

    @Ajax.ModalDialogActionLinkBootstrap(@CommonResources.States, "StateListPage", "CoreData",
      new { countryGuid = c.Guid, pageNumber = 1, pageSize = -1, partial = true }
     , new { @class = "btn btn-default btn-xs" })
 }
 else
 {
    <a class="btn btn-xs btn-default" asp-action="CountryEdit" asp-controller="CoreData"
       asp-route-guid="@c.Guid"
       asp-route-returnPageNumber="@Model.Paging.CurrentPage">CommonResources.Edit</a>

    <a class="btn btn-xs btn-default" asp-action="StateListPage" asp-controller="CoreData"
       asp-route-countryGuid="@c.Guid"
       asp-route-crp="@Model.Paging.CurrentPage">CommonResources.States</a>

 }
               
        </td>
        <td>
            @c.Name
        </td>
        <td>
            @c.ISOCode2
        </td>
        <td>
            @c.ISOCode3
        </td>
    </tr>
}

</table>
<div>
    @*
    @Html.Pager(Model.Paging.ItemsPerPage, Model.Paging.CurrentPage, Model.Paging.TotalItems).Options(o => o
            .Action("CountryListPage")
            .AddRouteValue("pageSize", Model.Paging.ItemsPerPage)
            .DisplayTemplate("Bootstrap3Pagination")
            .PageRouteValueKey("pageNumber")
            .MaxNrOfPages(Model.Paging.MaxPagerItems)
    )
    *@

</div>

@section Scripts {

<environment names="Development">
    <script src="~/js/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/lib/cloudscribe-modaldialog-bootstrap.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validation/1.11.1/jquery.validate.min.js"
            asp-fallback-src="~/js/lib/jquery-validation/jquery.validate.js"
            asp-fallback-test="window.jquery && window.jquery.validator">
    </script>
    <script src="~/js/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/lib/cloudscribe-modaldialog-bootstrap.js"></script>
</environment>


}
