@model cloudscribe.Logging.Web.LogListViewModel
@using cloudscribe.Core.Web.Helpers
@functions
{
    public string GetClassFromLogLevel(string logLevel)
    {
        switch(logLevel)
        {
            case "Error":
                return "bg-danger";

            case "Warning":
                return "bg-warning";

            case "Information":
            default:
                return "bg-info";

        }

    }
     }

<h1>@ViewData["Heading"]</h1>
<ul class="list-unstyled">
    @foreach (var item in Model.LogPage)
        {
        <li class="@GetClassFromLogLevel(item.LogLevel)">
            <form role="form" class="form-inline" asp-controller="SystemLog" asp-action="LogItemDelete">
                <input type="hidden" id="id" name="id" value="@item.Id" />
                <input type="submit" value="CommonResources.Delete" class="btn btn-xs btn-default pull-left" />
            </form>  
            <h2 class="logitem">
                @item.LogDateUtc.ToLocalTime(Model.TimeZone);
               <strong>@item.LogLevel</strong> 
                @item.IpAddress
                @item.Logger
                @item.ShortUrl
            </h2>
            <p>
                @Html.Encode(item.Message)
            </p>
        </li>
    }
</ul>
<div>
    <cs-pager cs-paging-info="@Model.Paging"
                asp-action="ViewLog" asp-controller="SystemInfo"
                asp-route-pagesize="@Model.Paging.ItemsPerPage"></cs-pager>
</div>
<form role="form" class="form-inline" asp-controller="SystemLog" asp-action="LogDeleteAll">
    <a asp-action="ViewLog" class="btn btn-sm btn-default ">Refresh</a>  
    <input type="submit" value="CommonResources.ClearLog" class="btn btn-sm btn-danger " />
</form>  
