@model cloudscribe.Core.Web.ViewModels.SiteSettings.SecuritySettingsViewModel
@using cloudscribe.Core.Web
@using cloudscribe.Web.Navigation
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        <form method="post" class="form-horizontal" role="form" asp-antiforgery="true" data-submit-once="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="SiteId" type="hidden" />
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="UseEmailForLogin" /> @sr["Use Email For Login"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowNewRegistration" /> @sr["Allow New Registrations"]
                        </label>
                    </div>
                </div>
            </div>
            @if (Model.EmailIsConfigured)
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input asp-for="RequireConfirmedEmail" /> @sr["Require Confirmed Email"]
                            </label>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RequireApprovalBeforeLogin" /> @sr["Require Approval Before Login"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-12">
                    <label asp-for="AccountApprovalEmailCsv" class="control-label">@sr["Email addresses (csv) to notify of new unapproved users"]</label>
                    <input asp-for="AccountApprovalEmailCsv" class="form-control" />
                    <span asp-validation-for="AccountApprovalEmailCsv" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowPersistentLogin" /> @sr["Allow Persistent Login"]
                        </label>
                    </div>
                </div>
            </div>
            @if (Model.HasAnySocialAuthEnabled)
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input asp-for="DisableDbAuth" /> @sr["Only Use Social Authentication"]
                            </label>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-12">
                    <button name="submit" type="submit" class="btn btn-default" data-disabled-text='@sr["Working..."]' data-enabled-text='@sr["Save"]'>@sr["Save"]</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-pull-10 hidden-xs hidden-sm">
        @await Component.InvokeAsync("Navigation", new { viewName = "SideNavAlt1", filterName = NamedNavigationFilters.ParentTree, startingNodeKey = "SiteAdmin" })
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_SideMenuScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/jquery.validate.hooks.min.js"></script>
    <script src="~/cr/js/jqueryvaildation.submitonce-unobtrusive.min.js"></script>
}
