@using cloudscribe.Core.Models
@inject SiteContext Tenant
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    @Tenant.CompanyName<br />
    @Tenant.CompanyStreetAddress<br />
    @Tenant.CompanyLocality, @Tenant.CompanyRegion @Tenant.CompanyPostalCode<br />
    @Tenant.CompanyPhone
</address>

<address>
    <strong>Email:</strong> <a href="mailto:@Tenant.CompanyPublicEmail">@Tenant.CompanyPublicEmail</a><br />
   
</address>
