@model cloudscribe.Core.IdentityServerIntegration.Models.ClientItemViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIds4Resources> sr

<div class="col-md-offset-2 col-md-10">
    <h3>@sr["Claims"] </h3>
    @{ await Html.RenderPartialAsync("AddClientClaimPartial", Model);} 
    @if (Model.Client.Claims.Count > 0)
    {
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>
                    @sr["Type"]
                </th>
                <th>
                    @sr["Value"]
                </th>  
            </tr>
            @foreach (var c in Model.Client.Claims)
            {
                <tr>
                    <td>
                        <form asp-controller="Clients" asp-action="DeleteClientClaim"> 
                            <button type="submit"
                                    class="btn btn-danger btn-xs"
                                    onclick="javascript: return confirm('@Html.FormatValue(c.Type, sr["Are you sure you want to delete {0}?"])');">
                                @sr["Delete"]
                            </button>
                            <input asp-for="SiteId" type="hidden" />
                            <input name="ClientId" value="@Model.Client.ClientId" type="hidden" />
                            <input name="ClaimType" value="@c.Type" type="hidden" />
                            <input name="ClaimValue" value="@c.Value" type="hidden" />
                        </form>
                    </td>
                    <td>@c.Type</td>
                    <td>@c.Value</td>
                </tr>
            }
        </table>
    }
</div>
