@model cloudscribe.Core.IdentityServerIntegration.Models.ClientItemViewModel
@using cloudscribe.Core.IdentityServerIntegration.Models;
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIds4Resources> sr
@{
    var gIndex = 0;
}
<div class="col-md-offset-2 col-md-10">
    <h3>@sr["Allowed Grant Types"] </h3>
    @{ await Html.RenderPartialAsync("AddClientAllowedGrantTypePartial", Model);}
    @if (Model.Client.AllowedGrantTypes.Count() > 0)
    {
        <ul class="list-unstyled">
            @foreach (var c in Model.Client.AllowedGrantTypes)
            {
            <li>
                <form asp-controller="Clients" asp-action="DeleteClientGrantType">
                    <input asp-for="SiteId" type="hidden" />
                    <input name="ClientId" value="@Model.ClientId" type="hidden" />
                    <input name="GrantType" value="@c" type="hidden" />
                    <div class="modal fade" id="@("confirmDeleteGrantModal" + gIndex)" tabindex="-1" role="dialog" aria-labelledby="@("confirmDeleteGrantHeading" + gIndex)">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label='@sr["Close"]'><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="@("confirmDeleteGrantHeading" + gIndex)">@sr["Confirm Delete"]</h4>
                                </div>
                                <div class="modal-body">
                                    @string.Format(sr["Are you sure you want to delete the grant type {0}?"], c)
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@sr["Cancel"]</button>
                                    <input type="submit" value='@sr["Delete"]' class="btn btn-danger btn-ok" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="@("#confirmDeleteGrantModal" + gIndex)">
                    @sr["Delete"]
                </button>
                @c
            </li>
                {
                    gIndex += 1;
                }
            }
        </ul>
    }
</div>
