@model cloudscribe.Core.IdentityServerIntegration.Models.ClientItemViewModel
@using cloudscribe.Core.IdentityServerIntegration.Models;
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIds4Resources> sr

<div class="col-md-offset-2 col-md-10">
    <h3>@sr["Client Secrets"] </h3>
    @{ await Html.RenderPartialAsync("AddClientSecretPartial", new NewClientSecretViewModel(Model.SiteId, Model.ClientId));}
    @if (Model.Client.ClientSecrets.Count > 0)
    {
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>
                    @sr["Value"]
                </th>
                <th>
                    @sr["Description"]
                </th>
                <th>
                    @sr["Expiration"]
                </th>
                <th>
                    @sr["Type"]
                </th>
            </tr>
            @foreach (var c in Model.Client.ClientSecrets)
            {
                <tr>
                    <td>
                        <form asp-controller="Clients" asp-action="DeleteClientSecret">
                            <button type="submit"
                                    class="btn btn-danger btn-xs"
                                    onclick="javascript: return confirm('@Html.FormatValue(c.Value, sr["Are you sure you want to delete {0}?"])');">
                                @sr["Delete"]
                            </button>
                            <input asp-for="SiteId" type="hidden" />
                            <input name="ClientId" value="@Model.ClientId" type="hidden" />
                            <input name="SecretValue" value="@c.Value" type="hidden" />
                        </form>
                    </td>
                    <td>@c.Value</td>
                    <td>@c.Description</td>
                    <td>@Html.DisplayFor(modelItem => c.Expiration)</td>
                    <td>@c.Type</td>
                </tr>
            }
        </table>
    }
</div>
