@model cloudscribe.Core.Web.ViewModels.Account.RegisterViewModel
@{
    var datePickerLocalizationScriptUrl = "~/js/jqueryui-i18n/datepicker-" + System.Globalization.CultureInfo.CurrentUICulture.Name + ".js";
    var timePickerLocalizationScriptUrl = "~/js/timepicker/i18n/jquery-ui-timepicker-" + System.Globalization.CultureInfo.CurrentUICulture.Name + ".js";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css" />
    <link rel="stylesheet" href="~/jsdev/timepicker/jquery-ui-timepicker-addon.css" />

}
<h2>@ViewBag.Title</h2>
<form class="form-horizontal" role="form" asp-controller="UserAdmin" asp-action="NewUser">
    <input asp-for="UserId" type="hidden" />
    <input asp-for="SiteGuid" type="hidden" />
    @if (Model.UserId > -1)
    {
        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <label class="control-label">@Model.UserId.ToInvariantString()</label>
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LoginName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LoginName" class="form-control" />
            <span asp-validation-for="LoginName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DisplayName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DisplayName" class="form-control" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>
    @if (Model.UserId == -1)
    {
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input name="DateOfBirth" value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("d") : string.Empty)"
                   class="form-control"
                   data-cs-datepicker="true"
                   data-cs-datepicker-show-time="false"
                   data-cs-datepicker-show-time-only="false"
                   data-cs-datepicker-show-month-list="true"
                   data-cs-datepicker-show-year-list="true"
                   data-cs-datepicker-year-range="c-100:c+0"
                   data-cs-datepicker-dateformat="@ViewBag.DateFormat"
                   data-cs-datepicker-timeformat="@ViewBag.TimeFormat" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="CommonResources.Save" />
        </div>
    </div>
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <environment names="Development">
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.3/jquery.ui.min.js"
                asp-fallback-src="~/js/lib/jquery-ui/jquery-ui.min.js"
                asp-fallback-test="window.jQuery.ui && window.jQuery.ui.version">
        </script>
        
    </environment>
    <script src="~/jsdev/timepicker/jquery-ui-timepicker-addon.js"></script>

    @if (System.Globalization.CultureInfo.CurrentUICulture.Name != "en-US")
    {
        <script src="@datePickerLocalizationScriptUrl"></script>
            <script src="@timePickerLocalizationScriptUrl"></script>

    }

    <script src="~/jsdev/cloudscribe-datepicker-jqui-unobtrusive.js"></script>
}
