@model cloudscribe.Core.Web.ViewModels.Account.EditUserViewModel
@using cloudscribe.Core.Web.Components.Editor
@{
    var datePickerLocalizationScriptUrl = "~/js/jqueryui-i18n/datepicker-" + System.Globalization.CultureInfo.CurrentUICulture.Name + ".js";
    var timePickerLocalizationScriptUrl = "~/js/timepicker/i18n/jquery-ui-timepicker-" + System.Globalization.CultureInfo.CurrentUICulture.Name + ".js";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css" />
    <link rel="stylesheet" href="~/jsdev/timepicker/jquery-ui-timepicker-addon.css" />

}
<h2>@ViewBag.Title</h2>
<form class="form-horizontal" role="form" asp-controller="UserAdmin" asp-action="UserEdit">
    <input asp-for="UserId" type="hidden" />
    <input asp-for="SiteGuid" type="hidden" />
    @if (Model.UserId > -1)
    {
    <div class="form-group">
        <label asp-for="UserId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <label class="control-label">@Model.UserId.ToInvariantString()</label>
        </div>
    </div>
    }
    @{ await Html.RenderPartialAsync("EditUserPartial", Model); }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="CommonResources.Save" />
            @if (Model.UserGuid != Guid.Empty)
            {
                <button name="button" type="button" class="btn btn-default"
                        onclick="javascript: if(confirm('@Html.FormatValue(Model.DisplayName, "Are you sure you want to delete the user {0}? You cannot undo this action.")')) {$('#deleteform').submit();}">
                    Delete
                </button>
                    @Html.ValidationMessage("deleteerror", new { @class = "text-danger" })
            }
        </div>
    </div>
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
   
</form>
@if (Model.UserGuid != Guid.Empty)
{
    <form id="deleteform" class="form-inline" asp-controller="UserAdmin" asp-action="UserDelete"> 
        <input asp-for="SiteGuid" type="hidden" />
        <input asp-for="UserId" type="hidden" />
    </form>
}

    
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


<environment names="Development">
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script src="~/jsdev/cloudscribe-ckeditor-unobtrusive.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.3/jquery.ui.min.js"
            asp-fallback-src="~/js/lib/jquery-ui/jquery-ui.min.js"
            asp-fallback-test="window.jQuery.ui && window.jQuery.ui.version">
    </script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/js/ckeditor/adapters/jquery.js"></script>
    <script src="~/js/cloudscribe-ckeditor-unobtrusive.js"></script>
</environment>
        <script src="~/jsdev/timepicker/jquery-ui-timepicker-addon.js"></script>

        @if (System.Globalization.CultureInfo.CurrentUICulture.Name != "en-US")
        {
            <script src="@datePickerLocalizationScriptUrl"></script>
            <script src="@timePickerLocalizationScriptUrl"></script>

        }

        <script src="~/jsdev/cloudscribe-datepicker-jqui-unobtrusive.js"></script>
    }
