@model cloudscribe.Core.Web.ViewModels.UserAdmin.UserListViewModel
@using cloudscribe.Core.Web
@using cloudscribe.Core.Models
@using cloudscribe.Web.Common
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@inject ITimeZoneHelper tzHelper
<table class="table table-striped">
    <tr>
        <th>
            <a class="btn btn-xs btn-default" asp-action="NewUser" asp-controller="UserAdmin" asp-route-siteId="@Model.SiteId">@sr["New User"]</a>
        </th>
        <th>
            @sr["Created"]
        </th>
        <th></th>
        <th>
            @sr["Email"]
        </th>
        <th>
            @sr["Login Name"]
        </th>
        <th>
            @sr["Display Name"]
        </th>
        <th>
            @sr["First Name"]
        </th>
        <th>
            @sr["Last Name"]
        </th>
    </tr>
    @foreach (var item in Model.UserList)
    {
        <tr>
            <td>
                <a class="btn btn-xs btn-default" asp-action="UserEdit"
                   asp-controller="UserAdmin"
                   asp-route-siteId="@Model.SiteId"
                   asp-route-userId="@item.Id">@sr["Manage"]</a>
            </td>
            <td>
                @tzHelper.ConvertToLocalTime(item.CreatedUtc, Model.TimeZoneId).ToString("g")
            </td>
            <td>
                <img gravatar-email="@item.Email" gravatar-size="30" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)     
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
    }
</table>
<div>
    <cs-pager cs-paging-info="@Model.Paging"
              asp-action="Index" asp-controller="UserAdmin"
              asp-route-siteId="@Model.SiteId"
              asp-route-query="@Model.AlphaQuery"
              asp-route-pagesize="@Model.Paging.ItemsPerPage"></cs-pager>
</div>
