@model cloudscribe.Core.Web.ViewModels.Account.EditUserViewModel
@using cloudscribe.Core.Web.Components.Editor
@inject IOptions<CkeditorOptions> ckOptionsAccessor

@{
    CkeditorOptions ckOptions = ckOptionsAccessor.Value;
}

<div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="LoginName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LoginName" class="form-control" />
        <span asp-validation-for="LoginName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="DisplayName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="DisplayName" class="form-control" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
    </div>
</div>
    
<div class="form-group">
    <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input name="DateOfBirth" value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("d") : string.Empty)" 
               class="form-control" 
               data-cs-datepicker="true"
               data-cs-datepicker-show-time="false"
               data-cs-datepicker-show-time-only="false"
               data-cs-datepicker-show-month-list="true"
               data-cs-datepicker-show-year-list="true"
               data-cs-datepicker-year-range="c-100:c+0"
               data-cs-datepicker-dateformat="@ViewBag.DateFormat"
               data-cs-datepicker-timeformat="@ViewBag.TimeFormat"
               />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>

    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">
            <label>
                <input asp-for="AccountApproved" /> Account Approved
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-12">
        <div class="checkbox">
            <label>
                <input asp-for="EmailConfirmed" /> Email Confirmed
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-12">
        <div class="checkbox">
            <label>
                <input asp-for="IsLockedOut" /> Account Locked
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label asp-for="Comment" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <textarea class="form-control" rows="5" asp-for="Comment"
                  data-ckeditor-unobtrusive=""
                  data-ckeditor-unobtrusive-config-url="@Url.Content(ckOptions.CustomConfigPath)"
                  data-ckeditor-unobtrusive-config-toolbar="Full"
                  data-ckeditor-unobtrusive-config-language="@System.Globalization.CultureInfo.CurrentUICulture.Name"></textarea>
        
    </div>
</div>

