@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteHostMappingsViewModel

@{
    //Layout = null;
}
<h2>@ViewBag.Title</h2>
    <table class="table table-responsive table-striped">
        <tr> 
            <th>
                HostName
            </th>    
            <th></th>
        </tr>
    
    @foreach (var item in Model.HostMappings) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.HostName)
            </td>
            
            <td>
                @using (Html.BeginForm("HostDelete", "SiteAdmin"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SiteGuid", Model.SiteGuid)
                    @Html.Hidden("hostName", item.HostName)
                    @Html.Hidden("slp", Model.SiteListReturnPageNumber)
    <input type="submit" value="@CommonResources.Delete"
           onclick="javascript: return confirm('@Html.FormatValue(item.HostName, CommonResources.ConfirmDeleteHostNameFormat)');"
           class="btn btn-xs btn-default" />

                }
                
               
            </td>
        </tr>
    }
    
    </table>
@using (Html.BeginForm("HostAdd", "SiteAdmin", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("SiteGuid", Model.SiteGuid)
    @Html.Hidden("SiteId", Model.SiteId)
    @Html.Hidden("slp", Model.SiteListReturnPageNumber)

    @Html.TextBox("hostName", null, new { @class = "form-control" })
    
    <button type="submit" value="@CommonResources.AddHostMapping" class="btn btn-default">@CommonResources.AddHostMapping</button>
    

}
