@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteListViewModel

@{
    
}
<h2>@Model.Heading</h2>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(CommonResources.NewSite, "NewSite", null, new { @class = "btn btn-default" })
        </th>
        <th>
            @CommonResources.SiteName
        </th>
        <th>
            Folder/Host
        </th>  
    </tr>
@foreach (var item in Model.Sites) {
    <tr> 
        <td>
            @Html.ActionLink(CommonResources.BasicSettings, "SiteInfo", new { siteId = item.SiteId }, new { @class = "btn btn-default" }) 
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @if (AppSettings.UseFoldersInsteadOfHostnamesForMultipleSites) { 
            @Html.DisplayFor(modelItem => item.SiteFolderName)
            }
            else { 
            @Html.DisplayFor(modelItem => item.PreferredHostName)
            }
        </td>
    </tr>
}
</table>
