@model cloudscribe.Core.Web.ViewModels.UserAdmin.UserListViewModel

@{
    
}

@if (Model.ShowAlphaPager)
{
    <div>
        @Html.AlphabeticPager(Model.AlphaQuery,
            CommonResources.AlphaPagerChars,
            null,
            CommonResources.All,
            "",
            false,
            x => Url.Action("Index", new { query = x })
    )
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@CommonResources.NewUser, "UserEdit", null, new { @class = "btn btn-default" })
        </th>
        <th>
            Email
        </th>
        <th>
            UserName
        </th>
        <th>
            DisplayName
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        
    </tr>

    @foreach (var item in Model.UserList)
    {
        <tr>
            <td>
                @Html.ActionLink(@CommonResources.Manage, "UserEdit",
             new { userId = item.UserId },
             new { @class = "btn btn-default" }
                ) 
                @Html.ActionLink(@CommonResources.ViewProfile, "Details",
             new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" }
                ) 
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
                
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            
        </tr>
    }

</table>
<div>
    @Html.Pager(Model.Paging.ItemsPerPage, Model.Paging.CurrentPage, Model.Paging.TotalPages).Options(o => o
            //.Action("StateListPage")
            .AddRouteValue("query", Model.AlphaQuery)
            //.AddRouteValue("pageSize", Model.Paging.ItemsPerPage)
            .DisplayTemplate("Bootstrap3Pagination")
            .PageRouteValueKey("pageNumber")
            .MaxNrOfPages(Model.Paging.MaxPagerItems)
            .UseItemCountAsPageCount()
    )
</div>
