@using cloudscribe.FileManager.Web.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model BrowseModel
@inject IOptions<AutomaticUploadOptions> autoUploadOptionsAccessor
@inject IStringLocalizer<FileManagerStringResources> sr
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    Layout = "_LayoutDialog";
    var tokens = antiforgery.GetAndStoreTokens(Context);
    var upoadOptions = autoUploadOptionsAccessor.Value;
    //https://github.com/patternfly/patternfly-bootstrap-treeview
}
@section style {
    @{await Html.RenderPartialAsync("FileManagerStylePartial"); }
}
<span id="fmconfig" aria-hidden="true" class="collapse"
      data-filetree-url="@Model.FileTreeServiceUrl"
      data-anti-forgery-token="@tokens.RequestToken"
      data-upload-url="@Model.UploadServiceUrl"
      data-ckfunc="@Model.CKEditorFuncNum"
      data-create-folder-url="@Model.CreateFolderServiceUrl"
      data-can-delete="@Model.CanDelete"
      data-delete-folder-url="@Model.DeleteFolderServiceUrl"
      data-rename-folder-url="@Model.RenameFolderServiceUrl"
      data-delete-file-url="@Model.DeleteFileServiceUrl"
      data-rename-file-url="@Model.RenameFileServiceUrl"
      data-root-virtual-path="@Model.InitialVirtualPath"
      data-empty-preview-url='@Url.Content("~/cr/css/1x1.gif")'></span>
<div id="alert_placeholder"></div>
<div class="container-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <li id="tab1" role="tab">
            <a href="#tabBrowse" data-toggle="tab" class="active"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;@sr["Browse"]</a>
        </li>
        <li id="tab2" role="tab">
            <a href="#tabUpload" data-toggle="tab"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;@sr["Upload"]</a>
        </li>
        @if (Model.Type == "image")
        {
            <li id="tab3" role="tab">
                <a id="lnkCrop" href="#tabCrop" data-toggle="tab"><i class="fa fa-scissors" aria-hidden="true"></i>&nbsp;@sr["Crop"]</a>
            </li>
        }

    </ul>
    <div class="tab-content ">
        <div class="tab-pane active" id="tabBrowse" role="tabpanel" aria-labelledby="tab1">
            @{await Html.RenderPartialAsync("BrowsePartial", Model); }
        </div>
        <div class="tab-pane" id="tabUpload" role="tabpanel" aria-labelledby="tab2">
            @{await Html.RenderPartialAsync("UploadPartial", Model); }
        </div>
        @if (Model.Type == "image")
        {
            <div class="tab-pane" id="tabCrop" role="tabpanel" aria-labelledby="tab3">
                @{await Html.RenderPartialAsync("CropPartial", Model); }
            </div>
        }
    </div>
</div>
@section scripts {
    @{await Html.RenderPartialAsync("FileManagerScriptsPartial"); }
    <script type="text/javascript">
        var allowedFilesRegex = @Html.Raw(Model.AllowedFileExtensionsRegex);
    </script>

}