@using cloudscribe.FileManager.Web.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model BrowseModel
@inject IOptions<AutomaticUploadOptions> autoUploadOptionsAccessor
@inject IOptions<FileManagerIcons> iconsAccessor
@inject IStringLocalizer<FileManagerStringResources> sr
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = sr["File Manager"];
    var tokens = antiforgery.GetAndStoreTokens(Context);
    var upoadOptions = autoUploadOptionsAccessor.Value;
    //https://github.com/patternfly/patternfly-bootstrap-treeview
    var icons = iconsAccessor.Value;
}
@section styles {
    <partial name="FileManagerStylePartial" />
}
<span id="fmconfig" aria-hidden="true" class="collapse"
      data-filetree-url="@Model.FileTreeServiceUrl"
      data-anti-forgery-token="@tokens.RequestToken"
      data-upload-url="@Model.UploadServiceUrl"
      data-file-download-url="@Model.FileDownloadServiceUrl"
      data-ckfunc="@Model.CKEditorFuncNum"
      data-create-folder-url="@Model.CreateFolderServiceUrl"
      data-can-delete="@Model.CanDelete"
      data-can-select="false"
      data-can-download="true"
      data-delete-folder-url="@Model.DeleteFolderServiceUrl"
      data-rename-folder-url="@Model.RenameFolderServiceUrl"
      data-delete-file-url="@Model.DeleteFileServiceUrl"
      data-rename-file-url="@Model.RenameFileServiceUrl"
      data-root-virtual-path="@Model.InitialVirtualPath"
      data-empty-preview-url='@Url.Content("~/cr/css/1x1.gif")'
      data-allowed-file-extensions="@Model.AllowedFileExtensions"></span>
<div id="alert_placeholder"></div>
<div class="container-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <li id="tab1" class="nav-item" role="tab">
            <a href="#tabBrowse" data-toggle="tab" class="nav-link active"><i class="@icons.Browse" aria-hidden="true"></i>&nbsp;@sr["Browse"]</a>
        </li>
        <li id="tab2" class="nav-item" role="tab">
            <a href="#tabUpload" class="nav-link" data-toggle="tab"><i class="@icons.Upload" aria-hidden="true"></i>&nbsp;@sr["Upload"]</a>
        </li>
        <li id="liCrop" class="nav-item" role="tab">
            <a id="lnkCrop" class="nav-link" href="#tabCrop" data-toggle="tab"><i class="@icons.Cut" aria-hidden="true"></i>&nbsp;@sr["Crop"]</a>
        </li>
    </ul>
    <div class="tab-content ">
        <div class="tab-pane active" id="tabBrowse" role="tabpanel" aria-labelledby="tab1">
            <partial name="BrowsePartial" model="Model" />
        </div>
        <div class="tab-pane" id="tabUpload" role="tabpanel" aria-labelledby="tab2">
            <partial name="UploadPartial" model="Model" />
        </div>
        
        <div class="tab-pane" id="tabCrop" role="tabpanel" aria-labelledby="tab3">
            <partial name="CropPartial" model="Model" />
        </div>
        
    </div>
</div>
@section scripts {
    <partial name="FileManagerScriptsPartial" /> 

}
