@model cloudscribe.Core.Web.ViewModels.SiteUser.AccountIndexViewModel
@using cloudscribe.Core.Web
@using cloudscribe.Core.Models
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject SiteContext currentSite
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Manage your account"];
    var showExternal = currentSite.HasAnySocialAuthEnabled();
}
<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>@sr["Change your account settings"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@sr["User Info:"]</dt>
        <dd>
            [ <a asp-controller="Manage" asp-action="UserInfo">@sr["Edit"]</a> ]
        </dd>
        <dt>@sr["Password:"]</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">@sr["Change"]</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">@sr["Create"]</a>
            }
            ]
        </dd>
        @if (showExternal)
        {
            <dt>@sr["External Logins:"]</dt>
            <dd>
                @Model.Logins.Count [<a asp-controller="Manage" asp-action="ManageLogins">@sr["Manage"]</a>]
            </dd>
        }
        <dt>@sr["Phone Number:"]</dt>
        <dd>
            <p>
                @sr["Phone Numbers can used as a second factor of verification in two-factor authentication, for better account security add your phone number now."]
            </p>
            @(Model.PhoneNumber ?? sr["None"]) [
            @if (Model.PhoneNumber != null)
            {
                <a asp-controller="Manage" asp-action="AddPhoneNumber">@sr["Change"]</a>
                    @: &nbsp;|&nbsp;
                    <a asp-controller="Manage" asp-action="RemovePhoneNumber">@sr["Remove"]</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="AddPhoneNumber">@sr["Add"]</a>
            }
            ]
        </dd>
        <dt>@sr["Two-Factor Authentication:"]</dt>
        <dd>
            @if (Model.TwoFactor)
            {
                <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                    <text>
                        @sr["Enabled"]
                        <input type="submit" value='@sr["Disable"]' class="btn btn-link" />
                    </text>
                </form>
            }
            else
            {
                <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                    <text>
                        @sr["Disabled"]
                        <input type="submit" value='@sr["Enable"]' class="btn btn-link" />
                    </text>
                </form>
            }
        </dd>
        <dt>@sr["Time Zone:"]</dt>
        <dd>
            @Model.TimeZone [<a asp-controller="Manage" asp-action="TimeZone">@sr["Change"]</a>]
        </dd>
    </dl>

</div>
