@model cloudscribe.Core.IdentityServerIntegration.Models.ApiEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIntegration> sr
@if (Model.CurrentApi != null)
{
    <div class="col-md-offset-2 col-md-10">
        <h3>@sr["API Resource Claims"] </h3>
        @{ await Html.RenderPartialAsync("AddApiClaimPartial", Model.NewApiClaim);} 
        @if (Model.CurrentApi.UserClaims.Count > 0)
        {
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        @sr["Name"]
                    </th>
                </tr>
                @foreach (var c in Model.CurrentApi.UserClaims)
                {
                    <tr>
                        <td>
                            <form asp-controller="ApiResource" asp-action="DeleteApiClaim"> 
                                <button type="submit"
                                        class="btn btn-danger btn-xs"
                                        onclick="javascript: return confirm('@Html.FormatValue(c, sr["Are you sure you want to delete {0}?"])');">
                                    @sr["Delete"]
                                </button>
                                <input asp-for="SiteId" type="hidden" />
                                <input name="ApiName" value="@Model.CurrentApi.Name" type="hidden" />
                                <input name="ClaimName" value="@c" type="hidden" />
                            </form>
                        </td>
                        <td>@c</td>
                        
                    </tr>
                }
            </table>
        }
    </div>

}
