@model cloudscribe.Core.Web.ViewModels.Account.RegisterViewModel
@{
    
}
@if (Model.RecaptchaSiteKey.Length > 0)
{
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
<h2>@ViewData["Title"]</h2>
@if (Model.RegistrationPreamble.Length > 0)
{
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.RegistrationPreamble)
        </div>
    </div>
}
<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
    <input asp-for="UserId" type="hidden" />
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" 
                   data-val="true" 
                   data-val-comparewhen="Must match password" 
                   data-val-comparewhen-compareproperty="#Password"
                   data-val-comparewhen-whenproperty="#UserId"
                   data-val-comparewhen-whenvalue="-1"  
                   />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
@if (Model.RegistrationAgreement.Length > 0)
{
    <div class="form-group">
        <div class="col-md-12 agreementcontainer">
            @Html.Raw(Model.RegistrationAgreement)
        </div>   
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="AgreeToTerms" data-val-enforcetrue="You must agree to the terms." />
                <label asp-for="AgreeToTerms"></label>
                <span asp-validation-for="AgreeToTerms" class="text-danger"></span>
                @Html.ValidationMessage("agreementerror", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
else
{
    <input name="AgreeToTerms" value="true" type="hidden" />
}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="g-recaptcha" data-sitekey="@Model.RecaptchaSiteKey"></div>
            @Html.ValidationMessage("recaptchaerror", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
