@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteListViewModel
@inject IConfiguration config

@{
    var FolderHostLabel = "Preferred Host Name";
    if (config.UseFoldersInsteadOfHostnamesForMultipleSites())
    {
        FolderHostLabel = "Folder";
    }
    
}
@*
    @section Styles {


        @Styles.Render("~/Content/themes/base/all.css")
        @Styles.Render("~/Content/themes/base/dialog.css")

    }
*@
<h2>@Model.Heading</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            <a class="btn btn-xs btn-default" asp-action="NewSite"
               asp-controller="SiteAdmin"
               asp-route-slp="@Model.Paging.CurrentPage">CommonResources.NewSite</a>
        </th>
        <th>
            CommonResources.SiteName
        </th>
        <th>
            @FolderHostLabel
        </th> 
    </tr>
@foreach (var item in Model.Sites)
{
    <tr class="@(item.IsServerAdminSite ? "adminsite danger" : "childsite")" >
        <td>
            <a class="btn btn-xs btn-default" asp-action="SiteInfo"
               asp-controller="SiteAdmin"
               asp-route-siteguid="@item.SiteGuid"
               asp-route-slp="@Model.Paging.CurrentPage">CommonResources.Settings</a>

@if (!config.UseFoldersInsteadOfHostnamesForMultipleSites())
{
    <a class="btn btn-xs btn-default hostmap" asp-action="SiteHostMappings"
       asp-controller="SiteAdmin"
       asp-route-siteguid="@item.SiteGuid"
       asp-route-slp="@Model.Paging.CurrentPage">CommonResources.DomainMappings</a>

   
}

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @if (config.UseFoldersInsteadOfHostnamesForMultipleSites())
            {
                <a href="/@item.SiteFolderName" target="_blank">/@item.SiteFolderName</a>
            }
            else
            {
                if (item.PreferredHostName.Length > 0)
                {
                    <a href="http://@item.PreferredHostName" target="_blank">@item.PreferredHostName</a>  
                }
            }
        </td>
    </tr>
}
</table>
<div>
    @*


    @Html.Pager(Model.Paging.ItemsPerPage, Model.Paging.CurrentPage, Model.Paging.TotalItems).Options(o => o
            .Action("SiteList")

            .AddRouteValue("pageSize", Model.Paging.ItemsPerPage)

            .DisplayTemplate("Bootstrap3Pagination")
            .PageRouteValueKey("pageNumber")
            .MaxNrOfPages(Model.Paging.MaxPagerItems)

    )

    *@
</div>
