@model cloudscribe.Core.Web.ViewModels.SiteUser.SetInitialPasswordViewModel
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Set your password"];
    ViewData["BodyClass"] = "account-section reset-password";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Account" asp-action="SetInitialPassword" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="mb-3">
        <label class="form-label" asp-for="Email">@sr["Email"]</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Password">@sr["Password"]</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ConfirmPassword">@sr["Confirm Password"]</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
        <button name="submit" type="submit" class="btn btn-primary">@sr["Submit"]</button>
    </div>
</form>
@section Scripts {
    <script src="~/cr/js/jquery.validate.min.js"></script>
    <script src="~/cr/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
}
