@model cloudscribe.Core.Web.ViewModels.SiteUser.EnableAuthenticatorViewModel
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["BodyClass"] = "manage-section manage-authenticator";
}
<h4>@ViewData["Title"]</h4>
<div>
    <p>@sr["To use an authenticator app go through the following steps:"]</p>
    <ol class="list">
        <li>
            <p>
                @sr["Download a two-factor authenticator app like Microsoft Authenticator for"]
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">@sr["Android"]</a> @sr["and"]
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">@sr["iOS"]</a> @sr["or"]
                @sr["Google Authenticator for"]
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">@sr["Android"]</a> @sr["and"]
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">@sr["iOS"]</a>.
            </p>
        </li>
        <li>
            <p>@sr["Scan the QR Code or enter this key"] <kbd>@Model.SharedKey</kbd> @sr["into your two factor authenticator app. Spaces and casing do not matter."]</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(Model.AuthenticatorUri)"></div>
        </li>
        <li class="mt-2">
            <p>
                @sr["Once you have scanned the QR code or input the key above, your two factor authentication app will provide you with a unique code. Enter the code in the confirmation box below."]
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="Code" class="control-label">@sr["Verification Code"]</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="invalid-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-primary" asp-route-culture="@CultureInfo.CurrentUICulture.Name">@sr["Verify"]</button>
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <script src="~/cr/js/jquery.validate.min.js"></script>
    <script src="~/cr/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
    <script type="text/javascript" src="~/cr/js/qrcode.min.js"></script>
    
    @* Get rid of inline scripts - jk
        <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script> *@
}
