@using cloudscribe.Core.Web.Navigation

@model NavigationViewModel

@{
// Copyright (c) Source Tree Solutions, LLC. All rights reserved.
// Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
// Author: Joe Audette
// Created 2015-07-13
// Last Modified: 2015-07-13
}

@if ((Model.TempNode != null) && (Model.HasVisibleChildren(Model.TempNode)))
{
    @:<ul role="menu">

        @foreach (var childNode in Model.TempNode.Children)
        {
            if (!Model.ShouldAllowView(childNode)) { continue; }

            if (!Model.HasVisibleChildren(childNode))
            {
                @:
                <li><a href="@Url.Content(Model.AdjustUrl(childNode))">@childNode.Value.Text</a></li>
            }
            else
            {
                <li>
                    <a href="@Url.Content(Model.AdjustUrl(childNode))">
                        @childNode.Value.Text
                    </a>
                    @Model.UpdateTempNode(childNode)
                    @Html.Partial("NavigationNodeChildTreePartial", Model) @* recursion *@
                </li>
            }
        }

        @:</ul>

}