@inject IStringLocalizer<CloudscribeCore> sr
@model string

<form method="post" class="form-horizontal" role="form" asp-antiforgery="true" data-submit-once="true" asp-controller="BlacklistIpAddresses" asp-action="DeleteBlacklistedIpAddress">
    <div class="modal-header">
        @sr["Delete Confirmation"]
    </div>
    <div class="modal-body">
        @sr["Are you sure you want to delete this IP address?"]
        <input type="hidden" name="ipAddressId" id="ipAddressId" value="@Model" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@sr["Cancel"]</button>
        <button type="submit" class="btn btn-danger" name="submit">@sr["Delete"]</button>
    </div>
</form>