
@model cloudscribe.Core.Web.ViewModels.CoreData.CountryListPageViewModel
@using cloudscribe.Web.Pagination
@addTagHelper "*, cloudscribe.Web.Pagination"
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Country List Administration"];
}
<h2>@ViewData["Title"]</h2>
<table class="table table-striped">
    <tr>
        <th>
            <a class="btn btn-xs btn-default" asp-action="CountryEdit" asp-controller="CoreData"
                asp-route-countryid="@Guid.Empty"
                asp-route-pagenumber="@Model.Paging.CurrentPage">@sr["New Country"]</a>
        </th>
        <th>
            @sr["Name"]
        </th>
        <th>
            @sr["ISOCode2"]
        </th>
        <th>
            @sr["ISOCode3"]
        </th>
    </tr>
@foreach (var c in Model.Countries) {
    <tr>
        <td>
            <a class="btn btn-xs btn-default" asp-action="CountryEdit" asp-controller="CoreData"
                asp-route-countryId="@c.Id"
                asp-route-returnPageNumber="@Model.Paging.CurrentPage">@sr["Edit"]</a>

            <a class="btn btn-xs btn-default" asp-action="StateListPage" asp-controller="CoreData"
                asp-route-countryId="@c.Id"
                asp-route-crp="@Model.Paging.CurrentPage">@sr["States"]</a>
        </td>
        <td>
            @c.Name
        </td>
        <td>
            @c.ISOCode2
        </td>
        <td>
            @c.ISOCode3
        </td>
    </tr>
}
</table>
<div>
    <cs-pager cs-paging-info="@Model.Paging"
              asp-action="CountryListPage" asp-controller="CoreData"
              asp-route-pagesize="@Model.Paging.ItemsPerPage"
              cs-first-page-title='@sr["First Page"]'
              cs-last-page-title='@sr["Last Page"]'
              cs-previous-page-title='@sr["Previous page"]'
              cs-next-page-title='@sr["Next page"]'
              ></cs-pager>
</div>
