@model cloudscribe.Core.Web.ViewModels.CoreData.CountryListPageViewModel

@{
    //ViewBag.Title = "CountryListPage";
}

<h2>@Model.Heading</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Ajax.ModalDialogActionLinkBootstrap(@CommonResources.NewCountry, "CountryEdit", "CoreData",
new { guid = Guid.Empty, returnPageNumber = Model.Paging.CurrentPage }
     , new { @class = "btn btn-default btn-xs" })
        </th>
        <th>
            @CommonResources.Name
        </th>
        <th>
            @CommonResources.ISOCode2
        </th>
        <th>
            @CommonResources.ISOCode3
        </th>
    </tr>

@foreach (var c in Model.Countries) {
    <tr>
        <td>
 
            @Ajax.ModalDialogActionLinkBootstrap(@CommonResources.Edit, "CountryEdit", "CoreData",
new { guid = c.Guid, returnPageNumber = Model.Paging.CurrentPage }
     , new { @class = "btn btn-default btn-xs" })

            @Ajax.ModalDialogActionLinkBootstrap(@CommonResources.States, "StateListPage", "CoreData",
 new { countryGuid = c.Guid, pageNumber = 1, pageSize = -1 }
     , new { @class = "btn btn-default btn-xs" })
       
           
        </td>
        <td>
            @c.Name
        </td>
        <td>
            @c.ISOCode2
        </td>
        <td>
            @c.ISOCode3
        </td>
    </tr>
}

</table>
<div>
    @Html.Pager(Model.Paging.ItemsPerPage, Model.Paging.CurrentPage, Model.Paging.TotalItems).Options(o => o
            .Action("CountryListPage")
            .AddRouteValue("pageSize", Model.Paging.ItemsPerPage)
            .DisplayTemplate("Bootstrap3Pagination")
            .PageRouteValueKey("pageNumber")
            .MaxNrOfPages(Model.Paging.MaxPagerItems)
    )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/modaldialog-bootstrap.js")
}
