@model cloudscribe.Core.Web.ViewModels.CoreData.CountryListPageViewModel

@{
    //ViewBag.Title = "CountryListPage";
}

<h2>@Model.Heading</h2>
<table class="table">
    <tr>
        <th colspan="2">
            @Html.ActionLink(@CommonResources.CreateNew, "CountryEdit")
        </th>
        <th>
            @CommonResources.Name
        </th>
        <th>
            @CommonResources.ISOCode2
        </th>
        <th>
            @CommonResources.ISOCode3
        </th>
    </tr>

@foreach (var c in Model.Countries) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "CountryEdit", "CoreData", new { guid = c.Guid }, null)
        </td>
        <td>
            @Html.ActionLink("States", "StateListPage", "CoreData", new { countryGuid = c.Guid }, null)
        </td>
        <td>
            @c.Name
        </td>
        <td>
            @c.ISOCode2
        </td>
        <td>
            @c.ISOCode3
        </td>
    </tr>
}

</table>
<div>
    @Html.PageLinks(Model.Paging, x => Url.Action("CountryListPage", new { pageNumber = x, pageSize = Model.Paging.ItemsPerPage }))
</div>
