@model cloudscribe.Core.Web.ViewModels.CoreData.CountryListPageViewModel

@{
    //ViewBag.Title = "CountryListPage";
}

<h2>@Model.Heading</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink(@CommonResources.NewCountry, "CountryEdit", null, new { @class = "btn btn-default btn-xs" })
        </th>
        <th>
            @CommonResources.Name
        </th>
        <th>
            @CommonResources.ISOCode2
        </th>
        <th>
            @CommonResources.ISOCode3
        </th>
    </tr>

@foreach (var c in Model.Countries) {
    <tr>
        <td>
            @Html.ActionLink(CommonResources.Edit, "CountryEdit", "CoreData",
         new { guid = c.Guid, returnPageNumber = Model.Paging.CurrentPage },
         new { @class = "btn btn-xs btn-default" })
       
            @Html.ActionLink(CommonResources.States, "StateListPage", "CoreData",
      new { countryGuid = c.Guid, pageNumber=1, pageSize=-1, countryReturnPageNumber = Model.Paging.CurrentPage },
         new { @class = "btn btn-xs btn-default" })
        </td>
        <td>
            @c.Name
        </td>
        <td>
            @c.ISOCode2
        </td>
        <td>
            @c.ISOCode3
        </td>
    </tr>
}

</table>
<div>
    @Html.Pager(Model.Paging.ItemsPerPage, Model.Paging.CurrentPage, Model.Paging.TotalItems).Options(o => o
            .Action("CountryListPage")
            .AddRouteValue("pageSize", Model.Paging.ItemsPerPage)
            .DisplayTemplate("Bootstrap3Pagination")
            .PageRouteValueKey("pageNumber")
            .MaxNrOfPages(Model.Paging.MaxPagerItems)
    )
</div>
