@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleMemberListViewModel
@using cloudscribe.Web.Pagination
@addTagHelper "*, cloudscribe.Web.Pagination"
@addTagHelper "*, cloudscribe.Web.Common"
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<h2>@Model.Heading1</h2>
<h3>@Model.Heading2</h3>
<form class="form-inline" role="form" asp-controller="RoleAdmin" asp-action="RoleMembers" method="get">
    <input name="siteId" value="@Model.Role.SiteId" type="hidden" />
    <input name="roleId" value="@Model.Role.Id" type="hidden" />
    <div class="input-group">
        <input name="searchInput" type="search" value="@Model.SearchQuery" class="form-control" />
        <span class="input-group-btn">
            <button type="submit" value="Search" class="btn btn-default">@sr["Search"]</button>
        </span>
    </div>
</form>
    <div>
        <table class="table table-striped">
            <tr>
                <th>
                    <a class="btn btn-xs btn-default" asp-action="RoleNonMembers" asp-controller="RoleAdmin"
                       asp-route-siteId="@Model.Role.SiteId"
                       asp-route-roleId="@Model.Role.Id"
                       bs-modal-link="true">@sr["Add User"]</a>
                </th>
                <th>
                   @sr["Email"]
                </th>
                @if (!Model.UseEmailForLogin)
            {
                    <th>
                        @sr["Login Name"]
                    </th>
                }
                <th>
                    @sr["Display Name"]
                </th>
                <th>
                    @sr["First Name"]
                </th>
                <th>
                    @sr["Last Name"]
                </th>
            </tr>
            @foreach (var item in Model.Members)
            {
                <tr>
                    <td>
                        <form asp-controller="RoleAdmin" asp-action="RemoveUser">
                            <input name="SiteId" value="@Model.SiteId" type="hidden" />
                            <input name="roleId" value="@Model.Role.Id" type="hidden" />
                            <input name="userId" value="@item.Id" type="hidden" />
                            <button type="submit"
                                    class="btn btn-danger btn-xs"
                                    onclick="javascript: return confirm('@Html.FormatValue(item.DisplayName, sr["Are you sure you want to remove {0}?"])');">
                                @sr["Remove"]
                            </button>
                        </form>                      
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @if (!Model.UseEmailForLogin)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                </tr>
            }
        </table>
        <div>
            <cs-pager cs-paging-info="@Model.Paging"
                      asp-action="RoleMembers" asp-controller="RoleAdmin"
                      asp-route-siteId="@Model.Role.SiteId"
                      asp-route-roleId="@Model.Role.Id"
                      asp-route-searchinput="@Model.SearchQuery"
                      asp-route-pagesize="@Model.Paging.ItemsPerPage"
                      cs-first-page-title='@sr["First Page"]'
                      cs-last-page-title='@sr["Last Page"]'
                      cs-previous-page-title='@sr["Previous page"]'
                      cs-next-page-title='@sr["Next page"]'
                      ></cs-pager>
        </div>
    </div>
@*
       <div>
        <label id="selectedRolesDisplay"></label>
        <input type="text" id="mycsv" class="form-control" />
        <a id="mymodal" class="btn btn-xs btn-default" title="Select Roles"
           asp-action="Modal" asp-controller="RoleAdmin"
           asp-route-siteId="@Model.Role.SiteId"
           data-ajax="true"
           data-ajax-begin="roleSelector.prepareModal('mycsv','selectedRolesDisplay')"
           data-ajax-failure="roleSelector.clearModal()"
           data-ajax-method="GET" data-ajax-mode="replace"
           data-ajax-success="roleSelector.openModal()"
           data-ajax-update="#roledialog"
           >@sr["Select Roles"]</a>
    </div>
    <script src="~/jsdev/cloudscribe-role-selector.js"></script>
*@
 @section Scripts {
@{await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
<script src="~/cr/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/cr/js/cloudscribe-modaldialog-bootstrap.min.js"></script>
 }
