@model cloudscribe.Core.Web.ViewModels.Account.EditUserViewModel
@{

}
<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LoginName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
</div>
    @if (Model.UserId == -1)
    {
<div class="form-group">
    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
</div>
    }
<div class="form-group">
    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.DateOfBirth,
                new
                {
                    @Value = (Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("d") : string.Empty),
                    @class = "form-control",
                    @data_cs_datepicker = "true",
                    @data_cs_datepicker_show_time = "false",
                    @data_cs_datepicker_show_time_only = "false",
                    @data_cs_datepicker_show_month_list = "true",
                    @data_cs_datepicker_show_year_list = "true",
                    @data_cs_datepicker_year_range = "c-100:c+0",
                    @data_cs_datepicker_dateformat = ViewBag.DateFormat,
                    @data_cs_datepicker_timeformat = ViewBag.TimeFormat
                })
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>
</div>
