@model List<cloudscribe.Core.Models.Geography.ICurrency>
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Currency Administration"];
}
<h2>@ViewData["Title"]</h2>
<table class="table table-striped">
    <tr>
        <th> 
            <a class="btn btn-xs btn-default" asp-action="CurrencyEdit"
               asp-controller="CoreData">@sr["New Currency"]</a> 
        </th>
        <th>
            @sr["Title"]
        </th>
        <th>
            @sr["Code"]
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            <form role="form" asp-controller="CoreData" asp-action="CurrencyDelete">
                <input type="hidden" id="currencyId" name="currencyId" value="@item.Id" />
                <a class="btn btn-xs btn-default" asp-action="CurrencyEdit"
                   asp-controller="CoreData"
                   asp-route-currencyid="@item.Id">@sr["Edit"]t</a>
                <button type="submit" value="submit"
                       onclick="javascript: return confirm('@Html.FormatValue(item.Title, sr["Are you sure you want to delete {0}?"])');"
                       class="btn btn-xs btn-default">
                    @sr["Delete"]
                </button>
            </form>  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
    </tr>
}
</table>
