@model cloudscribe.Web.Common.Models.FormItemDefinition
@inject IStringLocalizer<CloudscribeCommonResources> sr
<div class="form-group">
    <label for="@Model.Key">@sr[Model.Label]</label>
    <textarea rows="5" id="@Model.Key" name="@Model.Key" title="@Model.Tooltip" class="form-control @Model.CssClass" cs-form-item-definition="@Model">@ViewData[Model.Key]</textarea>
    <span class="text-danger field-validation-valid" data-valmsg-for="@Model.Key" data-valmsg-replace="true"></span>
    @Html.ValidationMessage(Model.Key + "Error", new { @class = "text-danger" })
</div>
