@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleViewModel

@{
    
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RoleId)
    @Html.HiddenFor(model => model.RoleGuid)
    @Html.HiddenFor(model => model.SiteId)
    @Html.HiddenFor(model => model.SiteGuid)
    @Html.HiddenFor(model => model.RoleName)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@CommonResources.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

