@model cloudscribe.Web.Common.Models.FormItemDefinition
@using cloudscribe.Web.Common.Models
@using cloudscribe.Web.Common
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCommonResources> sr
@addTagHelper "*, cloudscribe.Web.Common"
@{
   
}
<div class="form-group">
    <label for="@Model.Key" class="col-md-2 control-label">@sr[Model.Label]</label>
    <div class="col-md-10">
        <textarea rows="5" id="@Model.Key" name="@Model.Key" title="@Model.Tooltip" class="form-control @Model.CssClass" cs-form-item-definition="@Model">@ViewData[Model.Key]</textarea>
        <span class="text-danger field-validation-valid" data-valmsg-for="@Model.Key" data-valmsg-replace="true"></span>
        @Html.ValidationMessage(Model.Key + "Error", new { @class = "text-danger" })
    </div>
</div>
