@inject IStringLocalizer<CloudscribeCore> sr
@model string

<form method="post" class="form-horizontal" role="form" asp-antiforgery="true" data-submit-once="true" asp-controller="SiteAdmin" asp-action="DeleteBlockedIpAddress">
    <div class="modal-header">
        @sr["delete_confirmation"]
    </div>
    <div class="modal-body">
        @sr["are_you_sure_delete_ip_address"]
        <input type="hidden" name="ipAddressId" id="ipAddressId" value="@Model" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" name="submit">@sr["Delete"]</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@sr["cancel"]</button>
    </div>
</form>