@model cloudscribe.Core.Web.ViewModels.Account.EditUserViewModel
@using cloudscribe.Web.Common.Models
@using cloudscribe.Web.Common.Components
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@inject ICkeditorOptionsResolver editorOptionsResolver
@{
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
}
@section Styles {
    @{await Html.RenderPartialAsync("UserEditStylePartial"); }
}
<h2>@ViewData["Title"]</h2>
@if (Model.UserId != Guid.Empty && !Model.AccountApproved)
{
    <div class="col-md-10 col-md-offset-2">
        <form class="form-inline" role="form" asp-controller="UserAdmin" asp-action="ApproveUserAccount" asp-route-returnurl='@ViewData["ReturnUrl"]'>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="SiteId" type="hidden" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="SendApprovalEmail"> @sr["Send Email Notification"]
                </label>
            </div>
            <button type="submit" class="btn btn-success">@sr["Approve this account"]</button>
        </form>
    </div>   
        }
        <form class="form-horizontal" role="form" asp-controller="UserAdmin" asp-action="UserEdit">
            <input asp-for="UserId" type="hidden" />
            <input asp-for="SiteId" type="hidden" />
            @if (Model.UserId != Guid.Empty)
            {
                <div class="form-group">
                    <label asp-for="UserId" class="col-md-2 control-label">@sr["UserId"]</label>
                    <div class="col-md-10">
                        <label class="control-label">@Model.UserId.ToString()</label>
                    </div>
                </div>
            }
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label">@sr["Email"]</label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="col-md-2 control-label">@sr["Username"]</label>
                <div class="col-md-10">
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="col-md-2 control-label">@sr["Display Name"]</label>
                <div class="col-md-10">
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label">@sr["First Name"]</label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label">@sr["Last Name"]</label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="col-md-2 control-label">@sr["Date of Birth"]</label>
                <div class="col-md-10">
                    <input name="DateOfBirth" value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("d") : string.Empty)"
                           class="form-control"
                           data-bs-datepicker="true"
                           data-bs-datepicker-debug="false"
                           data-bs-datepicker-keepOpen="false"
                           data-bs-datepicker-allowInputToggle="true"
                           data-bs-datepicker-viewMode="years"
                           data-bs-datepicker-usecurrent="false"
                           data-bs-datepicker-format="L"
                           data-bs-datepicker-locale="@System.Globalization.CultureInfo.CurrentCulture.Name"
                           data-bs-datepicker-mindate="@DateTime.UtcNow.AddYears(-120).ToString("O")"
                           data-bs-datepicker-maxdate="@DateTime.UtcNow.AddYears(-10).ToString("O")"
                           data-bs-datepicker-viewDate="@DateTime.UtcNow.AddYears(-10).ToString("O")"
                            />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TimeZoneId" class="col-md-2 control-label">@sr["Time Zone"]</label>
                <div class="col-md-10">
                    <select asp-for="TimeZoneId"
                            asp-items="Model.AllTimeZones" class="form-control"></select>
                    <span asp-validation-for="TimeZoneId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WebSiteUrl" class="col-md-2 control-label">@sr["Website Url"]</label>
                <div class="col-md-10">
                    <input asp-for="WebSiteUrl" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="EmailConfirmed" /> @sr["Email Confirmed"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsLockedOut" /> @sr["Account Locked"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="5" asp-for="Comment"
                          data-ckeditor-unobtrusive=""
                          data-ckeditor-config-url="@ckOptions.CustomConfigPath"
                          data-ckeditor-config-language="@ckOptions.LanguageCode"
                          data-ckeditor-config-dropfileuploadurl="@ckOptions.DropFileUrl"
                          data-ckeditor-config-filebrowserurl="@ckOptions.FileBrowseUrl"
                          data-ckeditor-config-imagebrowseurl="@ckOptions.ImageBrowseUrl"></textarea>
                </div>
            </div>

            @{await Html.RenderPartialAsync("UserEditMiddlePartial", Model); }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value='@sr["Save"]' />
                    @if (Model.UserId != Guid.Empty)
                    {
                        <button name="button" type="button" class="btn btn-default"
                                onclick="javascript: if(confirm('@Html.FormatValue(Model.DisplayName, sr["Are you sure you want to delete the user {0}? You cannot undo this action."])')) {$('#deleteform').submit();}">
                            @sr["Delete"]
                        </button>
                        @Html.ValidationMessage("deleteerror", new { @class = "text-danger" })
                    }
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
        @if (Model.UserId != Guid.Empty)
        {
            <form id="deleteform" class="form-inline" asp-controller="UserAdmin" asp-action="UserDelete">
                <input asp-for="SiteId" type="hidden" />
                <input asp-for="UserId" type="hidden" />
            </form>
        }
<div class="col-md-offset-2 col-md-10">
    @{ await Html.RenderPartialAsync("UserClaims", Model); }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("UserEditScriptsPartial"); }
}
