@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleListViewModel

@{

}
<h2>@Model.Heading</h2>
<p>
    @Html.ActionLink(@CommonResources.NewRole, "RoleEdit", "RoleAdmin",
            null, new { @class = "btn btn-default btn-sm" })
</p>
<ul class="btn-group list-group">
    @foreach (var item in Model.SiteRoles)
    {
        <li class="list-group-item">
            <span>
                @Html.DisplayFor(modelItem => item.DisplayName)
                &nbsp;
            </span>
            <div class="btn-group pull-right" role="group">
                @using (Html.BeginForm("RoleDelete", "RoleAdmin"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("roleId", item.RoleId)
                    @Html.Hidden("roleGuid", item.RoleGuid)

                    <span class="btn btn-default btn-xs">
                        @Html.ActionLink(CommonResources.Members, "RoleMembers", "RoleAdmin",
                         new { roleId = item.RoleId, roleGuid = item.RoleGuid }, null)
                        <span class="badge">@Html.DisplayFor(modelItem => item.MemberCount)</span>
                    </span>

                    @Html.ActionLink(CommonResources.Edit, "RoleEdit", "RoleAdmin", new { roleId = item.RoleId }, new { @class = "btn btn-default btn-xs" })
                    if (item.IsDeletable(AppSettings.RolesThatCannotBeDeleted))
                    {
                        <button type="submit" 
                                onclick="javascript: return confirm('@Html.FormatValue(item.DisplayName, CommonResources.ConfirmDeleteFormat)');"
                                class="btn btn-default btn-xs">
                            @CommonResources.Delete
                        </button>
                    }
                }
            </div>
        </li>
    }
</ul>
<div>
    @Html.Pager(Model.Paging.ItemsPerPage, Model.Paging.CurrentPage, Model.Paging.TotalItems).Options(o => o
            .Action("Index")
            .AddRouteValue("pageSize", Model.Paging.ItemsPerPage)
            .DisplayTemplate("Bootstrap3Pagination")
            .PageRouteValueKey("pageNumber")
            .MaxNrOfPages(Model.Paging.MaxPagerItems)
            
    )
</div>
