@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleMemberListViewModel

@{
    
}
    <form role="form" method="get" class="form-inline" asp-controller="RoleAdmin" asp-action="RoleNonMembers" asp-antiforgery="false"
        data-ajax="true" 
        data-ajax-method="GET" 
        data-ajax-mode="replace" 
        data-ajax-update="#nonmembersgridcontainer">
         <input asp-for="Role.SiteGuid" type="hidden" />
        <input name="roleId" type="hidden" value="@Model.Role.RoleId" />
        <input name="ajaxGrid" type="hidden" value="true" />
        <div class="input-group">
            <input type="search" name="searchInput" value="@Model.SearchQuery" class="form-control" />
            <span class="input-group-btn">
                <button type="submit" value="CommonResources.Search" class="btn btn-default">CommonResources.Search</button>
            </span>
        </div>
    </form>
<table class="table table-striped">
    <tr>
        <th>
        </th>
        <th>
            CommonResources
            .Email
        </th>
        @if (!Model.UseEmailForLogin)
        {
            <th>
                CommonResources
                .LoginName
            </th>
        }
        <th>
            CommonResources
            .DisplayName
        </th>
        <th>
            CommonResources
            .FirstName
        </th>
        <th>
            CommonResources
            .LastName
        </th>
    </tr>
    @foreach (var item in Model.Members)
    {
        <tr>
            <td>
                <form role="form" asp-controller="RoleAdmin" asp-action="AddUser">
                    <input name="siteGuid" type="hidden" value="@Model.Role.SiteGuid" />
                    <input name="RoleGuid" type="hidden" value="@Model.Role.RoleGuid" />
                    <input name="roleId" type="hidden" value="@Model.Role.RoleId" />
                    <input name="UserGuid" type="hidden" value="@item.UserGuid" />
                    <input name="UserId" type="hidden" value="@item.UserId" />
                    <button type="submit"
                            class="btn btn-success"
                            onclick="javascript: return confirm('@Html.FormatValue(item.DisplayName, "Are you sure you want to add {0}?")');">
                        CommonResources.Add
                    </button>
                </form>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @if (!Model.UseEmailForLogin)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
    }
</table>
<div>
    <cs-pager cs-paging-info="@Model.Paging"
              asp-action="RoleNonMembers" asp-controller="RoleAdmin"
              asp-route-siteGuid="@Model.Role.SiteGuid"
              asp-route-roleid="@Model.Role.RoleId"
              asp-route-ajaxgrid="true"
              cs-ajax-target="#nonmembersgridcontainer"></cs-pager>
</div>
