@model cloudscribe.Core.IdentityServerIntegration.Models.ScopeEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIntegration> sr
@if (Model.CurrentScope != null)
{
    <div class="col-md-offset-2 col-md-10">
        <h3>@sr["Scope Claims"] </h3>
        @{ await Html.RenderPartialAsync("AddScopeClaimPartial", Model.NewScopeClaim);} 
        @if (Model.CurrentScope.Claims.Count > 0)
        {
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        @sr["Name"]
                    </th>
                    <th>
                        @sr["Description"]
                    </th>
                    <th>
                        @sr["Always Include In Id Token"]
                    </th>
                </tr>
                @foreach (var c in Model.CurrentScope.Claims)
                {
                    <tr>
                        <td>
                            <form asp-controller="Scopes" asp-action="DeleteScopeClaim"> 
                                <button type="submit"
                                        class="btn btn-danger btn-xs"
                                        onclick="javascript: return confirm('@Html.FormatValue(c.Name, sr["Are you sure you want to delete {0}?"])');">
                                    @sr["Delete"]
                                </button>
                                <input asp-for="SiteId" type="hidden" />
                                <input name="ScopeName" value="@Model.CurrentScope.Name" type="hidden" />
                                <input name="ClaimName" value="@c.Name" type="hidden" />
                            </form>
                        </td>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td>@Html.DisplayFor(modelItem => c.AlwaysIncludeInIdToken)</td>
                    </tr>
                }
            </table>
        }
    </div>

}
