@model cloudscribe.Core.Web.ViewModels.SiteSettings.SocialLoginSettingsViewModel
@inject IStringLocalizer<CloudscribeCore> sr
@inject ICoreThemeHelper themeHelper
@{
    var themeSettings = themeHelper.GetThemeSettings();
    if (themeSettings.AdminSideNavExpanded) { ViewData["SideNavToggle"] = "show"; }
    ViewData["SideNavVisible"] = true;
}
<h2>@ViewBag.Title</h2>
<form method="post" class="form-horizontal" role="form" asp-antiforgery="true" data-submit-once="true">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <input asp-for="SiteId" type="hidden" />
    <div class="form-group">
        <label asp-for="MicrosoftClientId">@sr["Microsoft Client Id"]</label>
        <input asp-for="MicrosoftClientId" class="form-control" />
        <span asp-validation-for="MicrosoftClientId" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="MicrosoftClientSecret">@sr["Microsoft Client Secret"]</label>
        <input asp-for="MicrosoftClientSecret" class="form-control" />
        <span asp-validation-for="MicrosoftClientSecret" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="GoogleClientId">@sr["Google Client Id"]</label>
        <input asp-for="GoogleClientId" class="form-control" />
        <span asp-validation-for="GoogleClientId" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="GoogleClientSecret">@sr["Google Client Secret"]</label>
        <input asp-for="GoogleClientSecret" class="form-control" />
        <span asp-validation-for="GoogleClientSecret" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="FacebookAppId">@sr["Facebook App Id"]</label>
        <input asp-for="FacebookAppId" class="form-control" />
        <span asp-validation-for="FacebookAppId" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="FacebookAppSecret">@sr["Facebook App Secret"]</label>
        <input asp-for="FacebookAppSecret" class="form-control" />
        <span asp-validation-for="FacebookAppSecret" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="TwitterConsumerKey">@sr["Twitter Consumer Key"]</label>
        <input asp-for="TwitterConsumerKey" class="form-control" />
        <span asp-validation-for="TwitterConsumerKey" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="TwitterConsumerSecret">@sr["Twitter Consumer Secret"]</label>
        <input asp-for="TwitterConsumerSecret" class="form-control" />
        <span asp-validation-for="TwitterConsumerSecret" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="OidConnectAuthority">@sr["OpenIdConnect Authority Url"]</label>
        <input asp-for="OidConnectAuthority" class="form-control" />
        <span asp-validation-for="OidConnectAuthority" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="OidConnectDisplayName">@sr["OpenIdConnect Display Name"]</label>
        <input asp-for="OidConnectDisplayName" class="form-control" />
        <span asp-validation-for="OidConnectDisplayName" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="OidConnectAppId">@sr["OpenIdConnect App Id"]</label>
        <input asp-for="OidConnectAppId" class="form-control" />
        <span asp-validation-for="OidConnectAppId" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label asp-for="OidConnectAppSecret">@sr["OpenIdConnect App Secret"]</label>
        <input asp-for="OidConnectAppSecret" class="form-control" />
        <span asp-validation-for="OidConnectAppSecret" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary" data-disabled-text='@sr["Working..."]' data-enabled-text='@sr["Save"]'>@sr["Save"]</button>
    </div>
</form>
@section SideNav {
    @{ await Html.RenderPartialAsync("AdminSideNav"); }
}
@section Toolbar{
    @{ await Html.RenderPartialAsync("AdminSideNavToggle"); }
}
@section Scripts {
    @{ await Html.RenderPartialAsync("AdminSideNavScripts"); }
    @{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
    <script src="~/cr/js/jquery.validate.hooks.min.js"></script>
    <script src="~/cr/js/jqueryvaildation.submitonce-unobtrusive.min.js"></script>
}
