@model cloudscribe.Core.Web.ViewModels.SiteSettings.RegisterInfoViewModel
@using cloudscribe.Core.Web.Components.Editor
@inject IOptions<CkeditorOptions> ckOptionsAccessor


@{
    CkeditorOptions ckOptions = ckOptionsAccessor.Value;
}
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        <form method="post" role="form" asp-antiforgery="true">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <input asp-for="SiteGuid" type="hidden" />
            <div class="form-group">
                <label asp-for="RegistrationPreamble" class="control-label"></label>
                <textarea class="form-control" rows="5" asp-for="RegistrationPreamble"
                          data-ckeditor-unobtrusive=""
                          data-ckeditor-unobtrusive-config-url="@Url.Content(ckOptions.CustomConfigPath)"
                          data-ckeditor-unobtrusive-config-toolbar="Full"
                          data-ckeditor-unobtrusive-config-language="@System.Globalization.CultureInfo.CurrentUICulture.Name"></textarea>
                <span asp-validation-for="RegistrationPreamble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationAgreement" class="control-label"></label>
                <textarea class="form-control" rows="5" asp-for="RegistrationAgreement"
                          data-ckeditor-unobtrusive=""
                          data-ckeditor-unobtrusive-config-url="@Url.Content(ckOptions.CustomConfigPath)"
                          data-ckeditor-unobtrusive-config-toolbar="Full"
                          data-ckeditor-unobtrusive-config-language="@System.Globalization.CultureInfo.CurrentUICulture.Name"></textarea>
                <span asp-validation-for="RegistrationAgreement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", "SideNav", NamedNavigationFilters.ParentTree, "SiteAdmin")
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/jsdev/cloudscribe-cascade-unobtrusive.js"></script>
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script src="~/lib/ckeditor/adapters/jquery.js"></script>
        <script src="~/jsdev/cloudscribe-ckeditor-unobtrusive.js"></script>
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/jsdev/cloudscribe-sidemenu.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/cloudscribe-cascade-unobtrusive.js"></script>
        <script src="~/js/ckeditor/ckeditor.js"></script>
        <script src="~/js/ckeditor/adapters/jquery.js"></script>
        <script src="~/js/cloudscribe-ckeditor-unobtrusive.js"></script>
        <script src="~/js/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/js/cloudscribe-sidemenu.js"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
