@model cloudscribe.Core.IdentityServerIntegration.Models.NewApiSecretViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIds4Resources> sr
<form class="form-inline" asp-controller="ApiResource" asp-action="AddApiSecret">
    <div class="form-group">
        <label asp-for="Value">@sr["Value"]</label>
        <input class="form-control" asp-for="Value">
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">@sr["Description"]</label>
        <input class="form-control" asp-for="Description" />
    </div>
    <div class="form-group">
        <label asp-for="Type">@sr["Type"]</label>
        <input class="form-control" asp-for="Type" />
    </div>
    <div class="form-group">
        <label asp-for="Expiration">@sr["Expiration"]</label>
        <input class="form-control" asp-for="Expiration" />
    </div>
    <input asp-for="SiteId" type="hidden" />
    <input asp-for="ApiName" type="hidden" />
    <button type="submit" class="btn btn-default">@sr["Add Secret"]</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
