@model cloudscribe.Core.IdentityServerIntegration.Models.ApiEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIds4Resources> sr
@if (Model.CurrentApi != null)
{
    <div class="col-md-offset-2 col-md-10">
        <h3>@sr["Secrets"] </h3>
        @{ await Html.RenderPartialAsync("AddApiSecretPartial", Model.NewApiSecret);}
        @if (Model.CurrentApi.ApiSecrets.Count > 0)
        {
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        @sr["Value"]
                    </th>
                    <th>
                        @sr["Description"]
                    </th>
                    <th>
                        @sr["Expiration"]
                    </th>
                    <th>
                        @sr["Type"]
                    </th>
                </tr>
                @foreach (var c in Model.CurrentApi.ApiSecrets)
                {
                    <tr>
                        <td>
                            <form asp-controller="ApiResource" asp-action="DeleteApiSecret">
                                <button type="submit"
                                        class="btn btn-danger btn-xs"
                                        onclick="javascript: return confirm('@Html.FormatValue(c.Description, sr["Are you sure you want to delete {0}?"])');">
                                    @sr["Delete"]
                                </button>
                                <input asp-for="SiteId" type="hidden" />
                                <input name="ApiName" value="@Model.CurrentApi.Name" type="hidden" />
                                <input name="SecretValue" value="@c.Value" type="hidden" />
                            </form>
                        </td>
                        <td>@c.Value</td>
                        <td>@c.Description</td>
                        <td>@Html.DisplayFor(modelItem => c.Expiration)</td>
                        <td>@c.Type</td>
                    </tr>
                }
            </table>
        }
    </div>

            }
