@model cloudscribe.Core.IdentityServerIntegration.Models.ApiEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using cloudscribe.Core.IdentityServerIntegration.Models
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIds4Resources> sr
@if (Model.CurrentApi != null)
{
    <div class="col-md-offset-2 col-md-10">
        <h3>@sr["Scopes"] </h3>
        @{ await Html.RenderPartialAsync("AddApiScopePartial", Model.NewScope);}
        @if (Model.CurrentApi.Scopes.Count > 0)
        {
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        @sr["Name"]
                    </th>
                    <th>
                        @sr["Display Name"]
                    </th>
                    <th>
                        @sr["Description"]
                    </th>
                    <th>
                        @sr["Required"]
                    </th>
                    <th>
                        @sr["Emphasize"]
                    </th>
                    <th>
                        @sr["Show In Discovery"]
                    </th>
                </tr>

                @foreach (var c in Model.CurrentApi.Scopes)
                {
                    <tr>
                        <td>
                            <form asp-controller="ApiResource" asp-action="DeleteApiScope">
                                <button type="submit"
                                        class="btn btn-danger btn-xs"
                                        onclick="javascript: return confirm('@Html.FormatValue(c.Name, sr["Are you sure you want to delete {0}?"])');">
                                    @sr["Delete"]
                                </button>
                                <input asp-for="SiteId" type="hidden" />
                                <input name="ApiName" value="@Model.CurrentApi.Name" type="hidden" />
                                <input name="ScopeName" value="@c.Name" type="hidden" />
                            </form>
                        </td>
                        <td>@c.Name</td>
                        <td>@c.DisplayName</td>
                        <td>@c.Description</td>
                        <td>@Html.DisplayFor(modelItem => c.Required)</td>
                        <td>@Html.DisplayFor(modelItem => c.Emphasize)</td>
                        <td>@Html.DisplayFor(modelItem => c.ShowInDiscoveryDocument)</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <h4>@sr["Scope Claims"] </h4>
                            @{ await Html.RenderPartialAsync("AddApiScopeClaimPartial", new NewApiScopeClaimViewModel(Model.SiteId, Model.CurrentApi.Name, c.Name));}
                            @if (c.UserClaims.Count > 0)
                            {
                                <ul class="list-unstyled">
                                    @foreach (var u in c.UserClaims)
                                    {
                                      <li>
                                          <form asp-controller="ApiResource" asp-action="DeleteApiScopeClaim">
                                              @u
                                              <button type="submit"
                                                      class="btn btn-danger btn-xs"
                                                      onclick="javascript: return confirm('@Html.FormatValue(u, sr["Are you sure you want to delete {0}?"])');">
                                                  @sr["Delete"]
                                              </button>
                                              <input asp-for="SiteId" type="hidden" />
                                              <input name="ApiName" value="@Model.CurrentApi.Name" type="hidden" />
                                              <input name="ScopeName" value="@c.Name" type="hidden" />
                                              <input name="ClaimName" value="@u" type="hidden" />
                                          </form>
                                      </li>
                                    }
                                </ul>
                            }
                            
                            
                        </td>

                    </tr>
                }
            </table>
        }
    </div>

            }
