@model cloudscribe.Core.IdentityServerIntegration.Models.ApiListViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using cloudscribe.Web.Pagination
@using Microsoft.Extensions.Localization
@addTagHelper "*, cloudscribe.Web.Pagination"
@inject IStringLocalizer<CloudscribeIds4Resources> sr
<h2>@ViewData["Title"]</h2>
<p>@sr["API Resources identify web APIs (also called resource servers). To get access tokens for APIs, you need to register them."]</p>
<p>To learn more about scopes see the <a href="https://identityserver4.readthedocs.io/en/dev/configuration/scopes.html">IdentityServer Documentation</a></p>
<div>
    <table class="table table-striped">
        <tr>
            <th>
                <a class="btn btn-xs btn-default" asp-action="EditApiResource" asp-controller="ApiResource"
                   asp-route-siteId="@Model.SiteId">@sr["New Api Resource"]</a>
            </th>
            <th>
                @sr["Name"]
            </th> 
            <th>
                @sr["Display Name"]
            </th>
            <th>
                @sr["Description"]
            </th>
            <th>
                @sr["Enabled"]
            </th>
        </tr>
        @foreach (var s in Model.Apis)
            {
            <tr>
                <td>
                    <form asp-controller="ApiResource" asp-action="DeleteApiResource">
                        <a class="btn btn-xs btn-default" asp-action="EditApiResource" asp-controller="ApiResource"
                           asp-route-siteId="@Model.SiteId"
                           asp-route-apiname="@s.Name">@sr["Edit"]</a>
                        <button type="submit"
                                class="btn btn-danger btn-xs"
                                onclick="javascript: return confirm('@Html.FormatValue(s.Name, sr["Are you sure you want to delete {0}?"])');">
                            @sr["Delete"]
                        </button>
                        <input name="SiteId" value="@Model.SiteId" type="hidden" />
                        <input name="ApiName" value="@s.Name" type="hidden" />
                    </form>
                </td>
 
                <td>
                    @Html.DisplayFor(modelItem => s.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Enabled)
                </td>
            </tr>
        }
    </table>
    <div>
        <cs-pager cs-paging-info="@Model.Paging"
                  asp-action="Index" asp-controller="ApiResource"
                  asp-route-siteId="@Model.SiteId" 
                  asp-route-pagesize="@Model.Paging.ItemsPerPage"
                  cs-first-page-title='@sr["First Page"]'
                  cs-last-page-title='@sr["Last Page"]'
                  cs-previous-page-title='@sr["Previous page"]'
                  cs-next-page-title='@sr["Next page"]'
                  ></cs-pager>
    </div>
</div>