@model cloudscribe.Core.Web.ViewModels.SiteSettings.SmsSettingsViewModel
@using cloudscribe.Core.Web
@using cloudscribe.Web.Navigation
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        <form method="post" class="form-horizontal" role="form" asp-antiforgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="SiteId" type="hidden" />
            <div class="form-group">
                <label asp-for="SmsFrom" class="col-md-2 control-label">@sr["Sms From"]</label>
                <div class="col-md-10">
                    <input asp-for="SmsFrom" class="form-control" />
                    <span asp-validation-for="SmsFrom" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SmsClientId" class="col-md-2 control-label">@sr["Sms Client Id"]</label>
                <div class="col-md-10">
                    <input asp-for="SmsClientId" class="form-control" />
                    <span asp-validation-for="SmsClientId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SmsSecureToken" class="col-md-2 control-label">@sr["Sms Secure Token"]</label>
                <div class="col-md-10">
                    <input asp-for="SmsSecureToken" class="form-control" />
                    <span asp-validation-for="SmsSecureToken" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button name="submit" type="submit" class="btn btn-default">@sr["Save"]</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", new { viewName = "SideNavAlt1", filterName = NamedNavigationFilters.ParentTree, startingNodeKey = "SiteAdmin" })
    </div>
</div>
@section Scripts {
@{ await Html.RenderPartialAsync("_SideMenuScriptsPartial"); }
@{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
}
