@model cloudscribe.Core.Web.Components.Messaging.SiteMessageModel
@inject ISummernoteOptionsResolver summernoteOptionsResolver
@inject ICkeditorOptionsResolver ckeditorOptionsResolver
@inject IStringLocalizer<CloudscribeCore> sr
@{
    var summernoteOptions = await summernoteOptionsResolver.GetSummernoteOptions();
    var ckOptions = await ckeditorOptionsResolver.GetCkeditorOptions();
    var ckBaseRef = Context.Request.GetCurrentBaseUrl();
}
<h3>@sr["Send Test Message"]</h3>
<p>@sr["Check the system log for errors if the message does not arrive."]</p>
<form asp-controller="SiteAdmin" asp-action="SendTestMessage" data-submit-once="true">
    <input value="@Model.Tenant.Id" name="siteId" type="hidden" />
    <div class="mb-3">
        <label class="form-label" asp-for="ToEmailCsv">@sr["To CSV"]</label>
        <input asp-for="ToEmailCsv" class="form-control" />
        <span asp-validation-for="ToEmailCsv" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Subject">@sr["Subject"]</label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Title">@sr["Template Heading"]</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="HtmlBody">@sr["Message"]</label>
        <textarea id="HtmlBody-@Guid.NewGuid().ToString()" name="HtmlBody" rows="5"
            data-summernote-unobtrusive=""
            data-summernote-config-url="@summernoteOptions.CustomConfigPath"
            data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
            data-summernote-config-language="@summernoteOptions.LanguageCode"
            data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
            data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
            data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
        </textarea>
        <span asp-validation-for="HtmlBody" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <button id="btnSave" name="submit" type="submit" class="btn btn-primary" data-disabled-text='@sr["working"]' data-enabled-text='@sr["Send"]'>@sr["Send"]</button>
    </div>
</form>