@model cloudscribe.Core.Web.ViewModels.CoreData.GeoCountryViewModel

@{
    ViewBag.Title = "CountryDetail";
}

<h2>CountryDetail</h2>

<div>
    <h4>GeoCountryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISOCode2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISOCode2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISOCode3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISOCode3)
        </dd>

    </dl>
</div>
<p>
    <a  asp-action="Index">BackToList</a>  
   
</p>
