@model cloudscribe.Core.Web.ViewModels.CoreData.GeoZoneViewModel

@{
    
}

<h2>@Model.Heading</h2>
<h3>@Model.Country.Name</h3>
    <div class="form-horizontal">
        <form role="form" asp-action="StateEdit" asp-controller="CoreData">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <input asp-for="Guid" type="hidden" />
            <input asp-for="CountryGuid" type="hidden" />
            <input asp-for="ReturnPageNumber" type="hidden" />
            <input asp-for="CountryListReturnPageNumber" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span> 
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span> 
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="CommonResources.Save" class="btn btn-default" />
                    @if (Model.Guid != Guid.Empty)
                    {
                        <button name="button" type="button" class="btn btn-default"
                                onclick="javascript: if(confirm('@Html.FormatValue(Model.Name, "Are you sure you want to delete {0}?")')) {$('#deleteform').submit();}">
                            CommonResources.Delete
                        </button>
                    }
                </div>
            </div>

        </form> 
    </div>
@if (Model.Guid != Guid.Empty)
{
    <form id="deleteform" asp-action="StateDelete" asp-controller="CoreData">
        <input asp-for="Guid" type="hidden" />
        <input asp-for="CountryGuid" type="hidden" />
        <input asp-for="ReturnPageNumber" type="hidden" />
        <input id="crp" name="crp" type="hidden" value="@Model.CountryListReturnPageNumber" />
    </form>  
}
        <div>
            <a class="btn btn-default" asp-action="StateListPage"
               asp-controller="CoreData"
               asp-route-countryGuid="@Model.CountryGuid"
               asp-route-crp="@Model.CountryListReturnPageNumber"
               asp-route-pageNumber="@Model.ReturnPageNumber">CommonResources.BackToStateList</a>
 
        </div>
