@model cloudscribe.Core.Web.ViewModels.CoreData.StateListPageViewModel

@{
    
}

<h2>@Model.Heading</h2>
<h3>@Model.Country.Name</h3>

<table class="table table-striped">
    <tr>
        <th>
            <a class="btn btn-xs btn-default" asp-action="StateEdit" asp-controller="CoreData"
               asp-route-countryGuid="@Model.Country.Guid"
               asp-route-crp="@Model.CountryListReturnPageNumber"
               asp-route-returnPageNumber="@Model.Paging.CurrentPage">CommonResources.NewState</a> 
        </th>
        <th>
            CommonResources.Name
        </th>
        <th>
            CommonResources.Code
        </th>
    </tr>

@foreach (var item in Model.States) {
    <tr>
        <td>
            <form asp-controller="CoreData" asp-action="StateDelete">
                <a class="btn btn-xs btn-default" asp-action="StateEdit" asp-controller="CoreData"
                   asp-route-countryguid="@Model.Country.Guid"
                   asp-route-guid="@item.Guid"
                   asp-route-crp="@Model.CountryListReturnPageNumber"
                   asp-route-returnpagenumber="@Model.Paging.CurrentPage">CommonResources.Edit</a>

                <input type="hidden" name="countryGuid" value="@item.CountryGuid" />
                <input type="hidden" name="guid" value="@item.Guid" />
                <input type="hidden" name="crp" value="@Model.CountryListReturnPageNumber" />
                <input type="hidden" name="returnPageNumber" value="@Model.Paging.CurrentPage" />
                <input type="submit" value="CommonResources.Delete"
                       onclick="javascript: return confirm('@Html.FormatValue(item.Name, "Are you sure you want to delete {0}?")');"
                       class="btn btn-xs btn-default" />
            </form>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td> 
    </tr>
}
</table>
<div>
    <cs-pager cs-paging-info="@Model.Paging"
              asp-action="StateListPage" asp-controller="CoreData"
              asp-route-countryGuid="@Model.Country.Guid"
              asp-route-crp="@Model.CountryListReturnPageNumber"
              asp-route-pagesize="@Model.Paging.ItemsPerPage"></cs-pager>
</div>
<div>
    <a class="btn btn-default" asp-action="CountryListPage" asp-controller="CoreData"
       asp-route-pageNumber="@Model.CountryListReturnPageNumber">CommonResources.BackToCountryList</a> 
</div>
