@model cloudscribe.Core.Web.ViewModels.Account.EditUserViewModel
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<form class="form-inline" role="form" asp-controller="UserAdmin" asp-action="AddClaim">
    <input asp-for="UserId" type="hidden" />
    <input asp-for="SiteId" type="hidden" />
    <div class="form-group">
        <input name="claimType" type="text" class="form-control" placeholder="Claim Type" />
        <input name="claimValue" type="text" class="form-control" placeholder="Claim Value" /> 
    </div>
    <button type="submit" value="submit" class="btn btn-default">@sr["Add Claim"]</button>
</form>
@if (Model.UserClaims.Count > 0)
{
    <div>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>
                    @sr["Claim Type"]
                </th>
                <th>
                    @sr["Claim Value"]
                </th>
            </tr>
            @foreach (var item in Model.UserClaims)
            {
                <tr>
                    <td>
                        <form asp-controller="UserAdmin" asp-action="RemoveClaim">
                            <input name="claimType" value="@item.Type" type="hidden" />
                            <input name="claimValue" value="@item.Value" type="hidden" />
                            <input name="userId" value="@Model.UserId" type="hidden" />
                            <button type="submit"
                                    class="btn btn-danger btn-xs"
                                    onclick="javascript: return confirm('@Html.FormatValue(item.Type, sr["Are you sure you want to remove the claim {0}?"])');">
                                @sr["Remove"]
                            </button>
                        </form>
                    </td>
                    <td>    
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
        </table>
    </div>
}
    
 @section Scripts {
@{await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
<script src="~/cr/js/cloudscribe-modaldialog-bootstrap.min.js"></script>
 }
