@inject SiteContext Tenant
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - @(Tenant?.SiteName ?? "Sample")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("Meta", required: false)
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <environment names="Development">
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/site-mat.css" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> 
  </environment>
    @RenderSection("Styles", required: false)
    <google-analytics profile-id="@Tenant.GoogleAnalyticsProfileId"></google-analytics>
</head>
<body>
    <header class="">
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <a href="~/@(Tenant?.SiteFolderName ?? "")" class="brand-logo"><i class="material-icons">cloud</i>@(Tenant?.SiteName ?? "Sample")</a>
                    <ul class="right">
                        @await Component.InvokeAsync("Navigation", new { viewName = "MaterialTopNav", filterName = NamedNavigationFilters.TopNav, startingNodeKey = "" })
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>            
                </div>      
            </nav>
    </header>
    <div class="container">
        @await Component.InvokeAsync("Navigation", new { viewName = "MaterialBreadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
        @await Html.PartialAsync("AlertsPartial")
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright &copy; @DateTime.Now.Year - @(Tenant?.SiteName ?? "Sample")  
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/jsdev//materialize.js"></script>
        <script src="~/jsdev/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/jsdev//materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Bottom", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
