@using cloudscribe.Web.Navigation
@using System.Text

@model NavigationViewModel

@{
    // Copyright (c) Source Tree Solutions, LLC. All rights reserved.
    // Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
    // Author: Joe Audette
    // Created 2015-07-11
    // Last Modified: 2015-07-15
}

@if (Model.HasVisibleChildren(Model.CurrentNode))
{
    @:<ul>
    foreach (var node in Model.CurrentNode.Children)
    {
        if (!Model.ShouldAllowView(node)) { continue; }
        if (!Model.HasVisibleChildren(node))
        {
            @:
            <li><a href="@Url.Content(Model.AdjustUrl(node))">@Model.AdjustText(node)</a></li>
        }
        else
        {
            @:
            <li><a href="@Url.Content(Model.AdjustUrl(node))">@Model.AdjustText(node)</a>
            @Model.UpdateTempNode(node)
            @Html.Partial("NavigationNodeChildTreePartial", Model) 
            </li>
        }
    }
    @:</ul>
}
