@using cloudscribe.Core.Web.Navigation
@using cloudscribe.Core.Models
@using System.Text

@model NavigationViewModel

@{
    // Copyright (c) Source Tree Solutions, LLC. All rights reserved.
    // Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
    // Author: Joe Audette
    // Created 2015-07-11
    // Last Modified: 2015-07-13
}

@if (Model.CurrentNode.Children.Count > 0)
{
    @:<ul>
    foreach (var node in Model.CurrentNode.Children)
    {
        if (!Model.ShouldAllowView(node)) { continue; }
        if (node.Children.Count == 0)
        {
            @:
            <li><a href="@Url.Content(node.Value.Url)">@node.Value.Text</a></li>
        }
        else
        {
            @:
            <li><a href="@Url.Content(node.Value.Url)">@node.Value.Text</a>
            @Model.UpdateTempNode(node)
            @Html.Partial("NavigationNodeChildTreePartial", Model) 
            </li>
        }
    }
    @:</ul>
}
