@using cloudscribe.Core.Web.Navigation
@using cloudscribe.Core.Models
@using System.Text

@model NavigationViewModel

@*
    

*@
@{
    // ViewBag.Title = "Home Page";
}
@functions {
            public static HtmlString OrderedList(IEnumerable<string> items)
            {
                var sb = new StringBuilder();

                var orderedList = new TagBuilder("ol");
                foreach (var item in items)
                {
                    var listItem = new TagBuilder("li");
                    listItem.SetInnerText(item);
                    sb.AppendLine(listItem.ToString(TagRenderMode.Normal));
                }
                orderedList.InnerHtml = sb.ToString();
                return new HtmlString(orderedList.ToString(TagRenderMode.Normal));
            }
     }

    @if (Model.RootNode.Children.Count > 0)
        {
        @:<ul class="nav navbar-nav">
    @:<li><a href="@Url.Content(Model.RootNode.Value.Url)">@Model.RootNode.Value.Text</a></li>
        foreach (var node in Model.RootNode.Children)
        {
            if(!Model.ShouldAllowView(node)) { continue; }
            if (node.Children.Count == 0)
            {
                @:
                <li><a href="@Url.Content(node.Value.Url)">@node.Value.Text</a></li>
            }
            else
            {
                @:
                <li class="dropdown">
                    <a href="@Url.Content(node.Value.Url)">
                    @node.Value.Text <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var childNode in node.Children)
    {
        if (childNode.Value.Text == "Separator")
        {
                                <li class="divider"></li>
                                continue;
                            }
                            if (childNode.Children.Count == 0)
                            {
                                <li><a href="@Url.Content(childNode.Value.Url)">@childNode.Value.Text</a></li>
                            }
                            else
                            {
                                <li class="dropdown-submenu"><a href="@Url.Content(childNode.Value.Url)">@childNode.Value.Text</a></li>
                            }

                        }
                    </ul>
</li>
            }

        }
        @:</ul>
    }
